#air {
    width: 200px;
    height: 100px;
    border: 1px solid blue;
    position: relative;
}

#man {
    width: 25px;
    height: 50px;
    border: 1px solid red;
    position: absolute;
}

#reset {
    position: absolute;
    top: 150px;
    left: 175px;
}

#animation_1 {
    position: absolute;
    top: 150px;
    left: 75px;
}

#animation {
    position: absolute;
    top: 150px;
    left: 10px;
}